#HomePage {
}

#HomePage-ContentPanel {
  min-width: 950px;
}

#HomePage-ContentPanel-ControlPanel {
}

#HomePage-ContentPanel-ControlPanel-CreateRequestButton {
}

#HomePage-ContentPanel-RequestsPanel {
  text-align: center;
}

#HomePage-ContentPanel-RequestsPanel .request-outline {
  position: relative;
  display: inline-block;
  padding: 5px 10px 5px 10px;
  width: 860px;
  margin-bottom: 10px;
  
  text-align: left;

  box-shadow: 5px 5px 5px darkgray;  
}
.request-outline .request-category {
  display: inline-block;
  margin-bottom: 10px;
  width: 100px;
  
  text-align: center;
  border-width: 5px;
  border-radius: 5px;
}
.request-outline .request-text {
  display: inline-block;
  margin-left: 10px;
  width: 420px;
  vertical-align: middle;
  
  font-family: Verdana;
  
  overflow: hidden;
  white-space: nowrap;
}
.request-outline .request-date {
  display: inline-block;
  margin-left: 20px;
  width: 200px;
  
  text-align: right;
}
.request-outline .request-name {
  display: inline-block;
  margin-left: 10px;
  width: 100px;
  
  text-align: right;
}
.request-outline .request-geton-label {
  display: inline-block;
  margin-left: 20px;
  width: 75px;
}
.request-outline .request-geton {
  display: inline-block;
  margin-left: 10px;
  width: 100px;
}
.request-outline .request-returnby-label {
  display: inline-block;
  margin-left: 10px;
  width: 120px;
}
.request-outline .request-returnby {
  display: inline-block;
  margin-left: 10px;
  width: 100px;
}
.request-outline .request-pickup-label {
  display: inline-block;
  margin-left: 50px;
  width: 60px;
}
.request-outline .request-pickup {
  display: inline-block;
  margin-left: 10px;
  width: 100px;
}
.request-outline .request-payrate-free {
  display: inline-block;
  vertical-align: bottom;
  margin-left: 70px;
  width: 18px;
  height: 18px;

  background-image: url(../../imgs/free.jpeg);
  background-size: cover;
}
.request-outline .request-payrate-paid {
  display: inline-block;
  vertical-align: bottom;
  margin-left: 70px;
  width: 18px;
  height: 18px;
  
  background-image: url(../../imgs/paid.jpeg);
  background-size: cover;
}
.request-outline .request-rating {
  margin-left: 30px;
}
.request-outline .request-closer {
  position: absolute;
  top: -7;
  right: -10;
  
  width: 15px;
  height: 15px;
}
.request-outline:hover .request-closer {
  display: inline-block;
}

.outgoing-request-outline {
  background: rgb(235, 215, 185);
}
.outgoing-request-outline:hover {
  background: rgb(235, 200, 150);
}
.incoming-request-outline {
  background: rgb(200, 230, 240);
}
.incoming-request-outline:hover {
  background: rgb(170, 225, 240);
}
