#RequestDetailsPage {
}

#RequestDetailsPage-ContentPanel {
  min-width: 950px;
}

#RequestDetailsPage-ContentPanel-RequestStatusPanel {
  padding: 5px;
  margin-top: 10px;
  text-align: center;
  font-size: 20px;
  
  background-color: yellow;
}
#RequestDetailsPage-ContentPanel-RequestStatusPanel-RequestStatusLabel {
  margin-right: 10px;
  background-color: yellow;
  color: red;
}
#RequestDetailsPage-ContentPanel-RequestStatusPanel-RequestStatus {
  display: inline-block;
}

#RequestDetailsPage-ContentPanel-RequestPanel {
  margin-top: 20px;
  text-align: center;
}

#RequestDetailsPage-ContentPanel-OffersPanel {
  text-align: center;
}



#RequestDetailsPage-ContentPanel-RequestPanel .request-details {
  position: relative;
  display: inline-block;
  padding: 5px 10px 5px 10px;
  width: 860px;
  margin-bottom: 10px;
  
  text-align: left;

  box-shadow: 5px 5px 5px darkgray;  
}
.request-details .request-recalled {
  display: inline-block;
  position: absolute;
  bottom: -5px;
  right: 50px;
  font-size: 40px;
  
  color: red;
}
.request-details .request-closed {
  display: inline-block;
  position: absolute;
  bottom: -5px;
  right: 50px;
  font-size: 40px;
  
  color: green;
}
.request-details .request-category {
  display: inline-block;
  margin-bottom: 10px;
  width: 100px;
  
  text-align: center;
  border-width: 5px;
  border-radius: 5px;
}
.request-details .request-date {
  display: inline-block;
  margin-left: 300px;
  width: 200px;
  
  text-align: right;
}
.request-details .request-name {
  display: inline-block;
  margin-left: 150px;
  width: 100px;
  
  text-align: right;
}
.request-details .request-text {
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 10px;
  width: 750px;
  vertical-align: middle;
  
  font-family: Verdana;
  
  overflow: hidden;
  white-space: nowrap;
}
.request-details .request-rating {
  margin-left: 20px;
}
.request-details .offer-attachments {
  margin-top: 10px;
  margin-left: 10px;
}
.request-details .request-geton-label {
  width: 120px;
}
.request-details .request-geton {
  display: inline-block;
  margin-left: 10px;
  width: 100px;
}
.request-details .request-returnby-label {
  margin-left: 10px;
}
.request-details .request-returnby {
  display: inline-block;
  margin-left: 10px;
  width: 100px;
}
.request-details .request-pickup-label {
  margin-left: 50px;
}
.request-details .request-pickup {
  display: inline-block;
  margin-left: 10px;
  width: 100px;
}
.request-details .request-payment-label {
  margin-top: 10px;
}
.request-details .request-payment {
  display: inline-block;
  margin-left: 10px;
}
.request-details .request-payrate {
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
}
.request-details .closer {
  position: absolute;
  top: -7;
  right: -10;
  
  width: 15px;
  height: 15px;
}
.request-details:hover .closer {
  display: inline-block;
}

.outgoing-request-details {
  background: rgb(235, 215, 185);
}
.incoming-request-details {
  background: rgb(200, 230, 240);
}
.inactive-request-details {
  background: rgb(180, 180, 180);
}



#RequestDetailsPage-ContentPanel-OffersPanel .offer {
  display: inline-block;
  width: 800px;
  margin-left: 80px;
  margin-bottom: 10px;
  margin-top: 10px;
}

#RequestDetailsPage-ContentPanel-OffersPanel .offer-details {
  position: relative;
  display: block;
  padding: 5px 10px 5px 10px;
  margin-bottom: 10px;
  
  text-align: left;

  box-shadow: 5px 5px 5px darkgray;  
}
.offer-details .offer-date {
  display: inline-block;
  margin-left: 400px;
  width: 200px;
  
  text-align: right;
}
.offer-details .offer-name {
  display: inline-block;
  margin-left: 70px;
  width: 100px;
  
  text-align: right;
}
.offer-details .offer-text {
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 10px;
  width: 680px;
  vertical-align: middle;
  
  font-family: Verdana;
  
  overflow: hidden;
  white-space: nowrap;
}
.offer-details .offer-rating {
  margin-left: 20px;
}
.offer-details .offer-geton-label {
  width: 120px;
}
.offer-details .offer-geton {
  display: inline-block;
  margin-left: 10px;
  width: 100px;
}
.offer-details .offer-returnby-label {
  margin-left: 10px;
}
.offer-details .offer-returnby {
  display: inline-block;
  margin-left: 10px;
  width: 100px;
}
.offer-details .offer-delivery-label {
  margin-left: 50px;
}
.offer-details .offer-delivery {
  display: inline-block;
  margin-left: 10px;
  width: 100px;
}
.offer-details .offer-zip-label {
  margin-left: 50px;
}
.offer-details .offer-zip {
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
  width: 100px;
}
.offer-details .offer-distance-label {
  margin-left: 50px;
}
.offer-details .offer-distance {
  display: inline-block;
  margin-left: 10px;
  width: 100px;
}
.offer-details .offer-payment-label {
  margin-top: 10px;
}
.offer-details .offer-payment {
  display: inline-block;
  margin-left: 10px;
}
.offer-details .offer-payrate {
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
}
.offer-details .offer-deposit-label {
  margin-left: 50px;
}
.offer-details .offer-deposit {
  display: inline-block;
  margin-left: 10px;
}
.offer-details .closer {
  position: absolute;
  top: -7;
  right: -10;
  
  width: 15px;
  height: 15px;
}
.offer-details:hover .closer {
  display: inline-block;
}

.outgoing-offer-details {
  background: rgb(235, 215, 185);
}
.incoming-offer-details {
  background: rgb(200, 230, 240);
}
.inactive-offer-details {
  background: rgb(180, 180, 180);
}


#RequestDetailsPage-ContentPanel-OffersPanel .negotiation-details {
  position: relative;
  display: inline-block;
  padding: 5px 10px 5px 10px;
  width: 740px;
  margin-left: 40px;
  margin-bottom: 10px;
  
  text-align: left;

  box-shadow: 5px 5px 5px darkgray;  
}
.negotiation-details .negotiation-date {
  display: inline-block;
  margin-left: 300px;
  width: 200px;
  
  text-align: right;
}
.negotiation-details .negotiation-name {
  display: inline-block;
  margin-left: 130px;
  width: 100px;
  
  text-align: right;
}
.negotiation-details .negotiation-text {
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 10px;
  width: 600px;
  vertical-align: middle;
  
  font-family: Verdana;
  
  overflow: hidden;
  white-space: nowrap;
}
.negotiation-details .negotiation-rating {
  margin-left: 20px;
}
.negotiation-details .negotiation-geton-label {
  width: 120px;
}
.negotiation-details .negotiation-geton {
  display: inline-block;
  margin-left: 10px;
  width: 100px;
}
.negotiation-details .negotiation-returnby-label {
  margin-left: 10px;
}
.negotiation-details .negotiation-returnby {
  display: inline-block;
  margin-left: 10px;
  width: 100px;
}
.negotiation-details .negotiation-delivery-label {
  margin-left: 50px;
}
.negotiation-details .negotiation-delivery {
  display: inline-block;
  margin-left: 10px;
  width: 100px;
}
.negotiation-details .negotiation-payment-label {
  margin-top: 10px;
}
.negotiation-details .negotiation-payment {
  display: inline-block;
  margin-left: 10px;
}
.negotiation-details .negotiation-payrate {
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
}
.negotiation-details .negotiation-deposit-label {
  margin-left: 50px;
}
.negotiation-details .negotiation-deposit {
  display: inline-block;
  margin-left: 10px;
}

.outgoing-negotiation-details {
  background: rgb(235, 215, 185);
}
.incoming-negotiation-details {
  background: rgb(200, 230, 240);
}


.offer-control-panel {
  text-align: right;
}

.right-control-button {
  margin-left: 10px;
}
.left-control-button {
  float: left;
  margin-right: 10px;
}