#UserPreferencesPage {
  text-align: center;
}

#UserPreferencesPage-PreferencesPanel {
  width: 500px;
  display: inline-block;
  margin-top: 10px;
  
  text-align: left;
  
  font-family: Verdana;
  font-size: 13px;
}

#UserPreferencesPage-PreferencesPanel-PreferencesLabel {
  display: block;
  font-size: 20px;
  text-align: left;
  
  color: rgb(0, 133, 63);
}

#UserPreferencesPage-PreferencesPanel-LocationPreferencesPanel, #UserPreferencesPage-PreferencesPanel-RequestPreferencesPanel, #UserPreferencesPage-PreferencesPanel-ToolLibraryPanel {
  margin-top: 20px;
}

#UserPreferencesPage-PreferencesPanel-LocationPreferencesPanel-LocationPreferencesLabel, #UserPreferencesPage-PreferencesPanel-RequestPreferencesPanel-RequestPreferencesLabel, #UserPreferencesPage-PreferencesPanel-ToolLibraryPanel-ToolLibraryLabel {
  display: block;
  font-size: 16px;
  text-align: left;
  
  color: rgb(0, 133, 63);
}

#UserPreferencesPage-PreferencesPanel-LocationPreferencesPanel-DetailLocationPanel, #UserPreferencesPage-PreferencesPanel-LocationPreferencesPanel-AddressPanel, #UserPreferencesPage-PreferencesPanel-RequestPreferencesPanel-CategoryFilterPanel, #UserPreferencesPage-PreferencesPanel-ToolLibraryPanel-ToolList, #UserPreferencesPage-PreferencesPanel-ToolLibraryPanel-ToolListControlPanel {
  margin-left: 30px;
  margin-top: 10px;
  font: inherit;
}
#UserPreferencesPage-PreferencesPanel-LocationPreferencesPanel-DetailLocationPanel-DetailLocationLabel, #UserPreferencesPage-PreferencesPanel-LocationPreferencesPanel-AddressPanel-AddressLabel, #UserPreferencesPage-PreferencesPanel-RequestPreferencesPanel-CategoryFilterPanel-CategoryFilterLabel {
  display: inline-block;
  width: 190px;
}
#UserPreferencesPage-PreferencesPanel-LocationPreferencesPanel-DetailLocationPanel-DetailLocation, #UserPreferencesPage-PreferencesPanel-LocationPreferencesPanel-AddressPanel-Address, #UserPreferencesPage-PreferencesPanel-RequestPreferencesPanel-CategoryFilterPanel-CategoryFilter {
  display: inline-block;
  width: 280px;
}

#UserPreferencesPage-PreferencesPanel-ToolLibraryPanel-ToolListControlPanel-AddButton, #UserPreferencesPage-PreferencesPanel-ToolLibraryPanel-ToolListControlPanel-RemoveButton, #UserPreferencesPage-PreferencesPanel-ToolLibraryPanel-ToolListControlPanel-EditButton {
  margin-right: 10px;
}

#UserPreferencesPage-PreferencesPanel-LocationPreferencesPanel-DetailLocationPanel {
  position: relative;
}
#UserPreferencesPage-PreferencesPanel-LocationPreferencesPanel-DetailLocationPanel-DetailLocationExplanation {
  position: absolute;
  top: 0px;
  left: -350px;
  width: 300px;
}

#UserPreferencesPage-PreferencesPanel-LocationPreferencesPanel-AddressPanel {
  position: relative;
}
#UserPreferencesPage-PreferencesPanel-LocationPreferencesPanel-AddressPanel-AddressExplanation {
  position: absolute;
  top: 0px;
  left: 500px;
  width: 300px;
}

#UserPreferencesPage-PreferencesPanel-ToolLibraryPanel {
  position: relative;
}
#UserPreferencesPage-PreferencesPanel-ToolLibraryPanel-ToolLibraryExplanation {
  position: absolute;
  top: 0px;
  left: -350px;
  width: 300px;
}



#UserPreferencesPage-PreferencesPanel-ButtonsPanel {
  margin-top: 30px;
  margin-left: 50px;
  text-align: center;
}

#UserPreferencesPage-PreferencesPanel-ButtonsPanel-UpdateButton {
  margin-right: 200px;
  
  font: inherit;
}

#UserPreferencesPage-PreferencesPanel-ButtonsPanel-CancelButton {
  font: inherit;
}


#UserPreferencesPage-PreferencesPanel-LeftClarificationPanel {
  width: 250px;
  position: absolute;
  top: 0;
  right: 520;
  display: inline-block;
  
  font-family: Verdana;
  font-size: 13px;
}

#UserPreferencesPage-PreferencesPanel-RightClarificationPanel {
  width: 350px;
  position: absolute;
  top: 0;
  left: 520;
  display: inline-block;
  
  font-family: Verdana;
  font-size: 13px;
}

#UserPreferencesPage-PreferencesPanel-LeftClarificationPanel-ResponsesClarificationPanel {
  margin-top: 120px;
}

#UserPreferencesPage-PreferencesPanel-RightClarificationPanel-TimeFrameClarificationPanel {
  margin-top: 120px;
  margin-right: 150px;
}

#UserPreferencesPage-PreferencesPanel-RightClarificationPanel-ProfessionalClarificationPanel {
  margin-top: 140px;
}



#EditToolDialog {
}
#EditToolDialog-ContentPanel-ToolNameLabel {
  margin-top: 10px;
  display: inline-block;
  margin-right: 10px;
}
#EditToolDialog-ContentPanel-ToolName {
  display: inline-block;
  width: 200px;
}
#EditToolDialog-ContentPanel-CategoryLabel {
  margin-top: 10px;
  display: inline-block;
  margin-left: 30px;
  margin-right: 10px;
}
#EditToolDialog-ContentPanel-Category {
  display: inline-block;
  width: 200px;
  vertical-align: bottom;
}
#EditToolDialog-ContentPanel-DescriptionLabel {
  margin-top: 10px;
  display: block;
}
#EditToolDialog-ContentPanel-DescriptionEditor {
  height: 60px;
}
#EditToolDialog-ContentPanel-AttachmentBar {
  margin-top: 10px;
}
#EditToolDialog-ContentPanel-PaymentPanel {
  margin-top: 10px;
}
#EditToolDialog-ContentPanel-PaymentPanel-PaymentLabel {
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
  margin-top: 1px;
}
#EditToolDialog-ContentPanel-PaymentPanel-Payment {
  display: none;
  width: 50px;
  margin-right: 10px;
  vertical-align: top;
}
#EditToolDialog-ContentPanel-PaymentPanel-PaymentRateChooser {
  display: inline-block;
  width: 150px;
}
#EditToolDialog-ContentPanel-PaymentPanel-DepositLabel {
  display: inline-block;
  margin-right: 10px;
  margin-left: 50px;
  vertical-align: top;
  margin-top: 1px;
}
#EditToolDialog-ContentPanel-PaymentPanel-DepositChooser {
  display: inline-block;
  width: 100px;
}