#UserPreferencesPage {
  text-align: center;
}

#UserPreferencesPage-PreferencesPanel {
  width: 500px;
  display: inline-block;
  margin-top: 10px;
  
  text-align: left;
  
  font-family: Verdana;
  font-size: 13px;
}

#UserPreferencesPage-PreferencesPanel-PreferencesLabel {
  display: block;
  font-size: 20px;
  text-align: left;
  
  color: rgb(0, 133, 63);
}

#UserPreferencesPage-PreferencesPanel-LocationPreferencesPanel, #UserPreferencesPage-PreferencesPanel-RequestPreferencesPanel {
  margin-top: 20px;
}

#UserPreferencesPage-PreferencesPanel-LocationPreferencesPanel-LocationPreferencesLabel, #UserPreferencesPage-PreferencesPanel-RequestPreferencesPanel-RequestPreferencesLabel {
  display: block;
  font-size: 16px;
  text-align: left;
  
  color: rgb(0, 133, 63);
}

#UserPreferencesPage-PreferencesPanel-LocationPreferencesPanel-DetailLocationPanel, #UserPreferencesPage-PreferencesPanel-LocationPreferencesPanel-AddressPanel, #UserPreferencesPage-PreferencesPanel-RequestPreferencesPanel-CategoryFilterPanel {
  margin-left: 30px;
  margin-top: 10px;
  font: inherit;
}
#UserPreferencesPage-PreferencesPanel-LocationPreferencesPanel-DetailLocationPanel-DetailLocationLabel, #UserPreferencesPage-PreferencesPanel-LocationPreferencesPanel-AddressPanel-AddressLabel, #UserPreferencesPage-PreferencesPanel-RequestPreferencesPanel-CategoryFilterPanel-CategoryFilterLabel {
  display: inline-block;
  width: 190px;
  margin-left: 10px;
}
#UserPreferencesPage-PreferencesPanel-LocationPreferencesPanel-DetailLocationPanel-DetailLocation, #UserPreferencesPage-PreferencesPanel-LocationPreferencesPanel-AddressPanel-Address, #UserPreferencesPage-PreferencesPanel-RequestPreferencesPanel-CategoryFilterPanel-CategoryFilter {
  display: inline-block;
  width: 270px;
}




#UserPreferencesPage-PreferencesPanel-ButtonsPanel {
  margin-top: 30px;
  margin-left: 50px;
  text-align: center;
}

#UserPreferencesPage-PreferencesPanel-ButtonsPanel-UpdateButton {
  margin-right: 200px;
  
  font: inherit;
}

#UserPreferencesPage-PreferencesPanel-ButtonsPanel-CancelButton {
  font: inherit;
}


#UserPreferencesPage-PreferencesPanel-LeftClarificationPanel {
  width: 250px;
  position: absolute;
  top: 0;
  right: 520;
  display: inline-block;
  
  font-family: Verdana;
  font-size: 13px;
}

#UserPreferencesPage-PreferencesPanel-RightClarificationPanel {
  width: 350px;
  position: absolute;
  top: 0;
  left: 520;
  display: inline-block;
  
  font-family: Verdana;
  font-size: 13px;
}

#UserPreferencesPage-PreferencesPanel-LeftClarificationPanel-ResponsesClarificationPanel {
  margin-top: 120px;
}

#UserPreferencesPage-PreferencesPanel-RightClarificationPanel-TimeFrameClarificationPanel {
  margin-top: 120px;
  margin-right: 150px;
}

#UserPreferencesPage-PreferencesPanel-RightClarificationPanel-ProfessionalClarificationPanel {
  margin-top: 140px;
}
